/* css styles */

@font-face {
  font-family: "MyFont";
  src: url("font/gilroy-light.otf");
}



.navbar-dark {
    background-color: #FFF;
}

.navbar-dark .navbar-nav .nav-link {
    color: #222222;
}

.navbar #quarto-search.type-overlay .aa-Autocomplete svg.aa-SubmitIcon {
    width: 26px;
    height: 26px;
    color: #222222;
    opacity: 1;
}

body {
    margin: 0;
    font-family: MyFont;
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

p {
  font-family: "MyFont";
  font-size: 14px;
  color:  #222222;
}


element.style {
}
*, *::before, *::after {
    box-sizing: border-box;
}
.dropdown-item {
    display: block;
    font-size: 14px;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    font-family: "MyFont";
    color: #222222;
    text-align: inherit;
    text-decoration: none;
    -webkit-text-decoration: none;
    -moz-text-decoration: none;
    -ms-text-decoration: none;
    -o-text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

h1.title, .title.h1 {
    margin-top: 100;
}

.page-columns .column-body {
    grid-column: body-content-start/body-content-end;
    padding-top: 70px;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    padding-top: 13px;
}
.navbar {
    font-size: 13.9px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure the navbar appears above other content */
    /* Add additional styling as needed */
}
footer.footer .nav-footer, #quarto-header nav {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.7em;
}

#quarto-content>* {
    padding-top: 70px;
}
main {
    margin-top: 0em; 
    margin-bottom: 1em;
}
.navbar-dark .navbar-toggler {
    color: #595959;
    border-color: #fff;
}

div.quarto-about-jolla .about-link {
    color: #4e5862;
    text-decoration: none;
    border: solid 0px;
}

div.quarto-about-jolla .about-link {
    font-size: .8em;
    padding: 0em 0em;
    border-radius: 4px;
}

.navbar-dark .navbar-toggler {
    color: #fff;
    border-color: #fff;
}

.navbar-brand{padding:0px;
              padding-left:13px;
              padding-top:1.3px;
                                     }
                                     
body:not(.floating) .nav-footer {
    border-top: 0px solid #dee2e6; */
}

.nav-footer .nav-footer-center {
    font-size: 10px;
}