/*-- scss:defaults --*/

$primary: #FFF!default;
$font-family-sans-serif: "Helvetica Neue";
$font-family-monospace: "Helvetica Neue";
$bs-body-font-family: "Helvetica Neue";
$web-font-path: "Helvetica Neue";

/*-- scss:rules --*/

@font-face{
  font-family: "MyFont";
  src: "font/JosefinSans-Regular.ttf";
}