.fancybox-toolbar button.fancybox-button {
    background: #ffffff !important;
}
.fancybox-button:focus, .fancybox-button:hover {
    color: #000;
}

.lightbox-container {
    background-color: rgba(0, 0, 0, 0.5); /* Example background color with opacity */
}